.folder
    padding: 11px 22px
    display: table
    width: 90%
    letter-spacing: 0.1px
    line-height: 130%
    font-size: 14px
    &__row
        display: flex
        border-bottom: 1px #414144 solid
    &__name
        padding: 11px 12px
        width: 100%
        display: flex
        color: #A1A1AA
    &__value
        padding: 21px 12px
        width: 100%
        display: flex
        align-items: center
