.folder
    display: table
    width: 90%
    font-size: 24px
    &__row
        display: flex
    &__name
        width: 100%
        margin-bottom: 10px
        font-weight: 600
        opacity: 0.5
        display: flex
    &__value
        width: 100%
        display: flex
        align-items: center
